* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER AND NAVIGATION STYLE */
/* NAV FLEX */
nav {
    display: flex;
    justify-content: space-between;
   padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;git
}

nav li {
    list-style: none;
    margin-left: 50px;

}

/* banner styles */
.banner {
    margin: 0px 100px 50px 200px;
    align-items: center;

    display: flex;

}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.btn-primary {
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border: none;
    padding: 18px 35px;
    height: 60px;
    border-radius: 5px;
    background-color: #FD6E0A;
}

.text-primary {
    color: #FD6E0A;
}

.banner-title {
    font-weight: 600px;
    font-size: 85px;
    margin-bottom: 18px;




}

.header {
    background-position: absolute;
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-position: bottom right, left;


    background-repeat: no-repeat;

}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main part */
main {
    max-width: 1140px;
    margin: 0 auto;
}


/* main part about section */
.main-site {
    margin: 130px;

    background: #FFF8F3;
    border-radius: 5px;
    padding: 130px 150px;

    text-align: center;

}

.about-section {
    font-weight: 700;
    font-size: 35px;

    margin: 30px;

}

.about-description {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;

}

.info-title {

    font-size: 16px;
    color: #757575;

}

.info-description {
    font-weight: 700;
    font-size: 15px;
    color: #474747;
}

.section-title {
    color: #1d1b1b;
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 150px;
}

.what-i-do {
    margin-top: 130px;
}

.skills-container {
    display: flex;
    gap: 20px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    margin-bottom: 10px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

/* resume styles */
.resume-content {
    display: flex;
    gap:30px; 

}

.item-title {
    font-weight: 700;
    font-size: 25px;
    color: #2b2929

}

.item-sub-title {
    font-weight: 600;
font-size: 20px;
color: #757575

}

.item-description {
    font-weight: 400;
font-size: 16px;
color: #757575
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume-button{
    margin-top: 50px;
text-align: center;
    margin-bottom: 50px;
}
.lastpart{
    display: flex;
   padding: 200px 200px;
   background-position: absolute;
   background: #FFF8F3;

    
    
    
}
.lastpart .section-title{
    text-align: left;
}
.inputsite input, textarea{
    margin-bottom: 24px;
    width: 100%;
    border: 0;
    padding: 18px 30px;
}  
 .lastpart a{ text-decoration: none;

}